<header>
    <nav class="navbar navbar-default" style="margin-bottom:0px; width:100%; position:fixed;  z-index:18; margin-top:-10px;" >
        <div class="container-fluid ">
            <div class="navbar-header">
                <div class="user">
                    <div class=" buscador">
                        <input type="text" class="form-control" id="cltAppSrch" placeholder="A. Paterno/Telefono">
                    </div>
                    <div class="noti" id="notif" style="color:<%= @colorUno %>"><i class="fa fa-bell fa-2x"></i>
                        <div class="messages">
                            <a href="#" class="message">Working on Notifications</a>
                            <a href="#" class="message">Please be patient.</a>
                            <a href="#" class="message">At. IT & Media</a>
                        </div>
                    </div>
                    <div class="separator" id="separador" style="background-color:<%= @colorUno%>"></div>
                    <div class="avatar" id="avatars">
                        <%= image_tag("http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png") %>
                        
                    </div>
                     <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn"><%= @usuario %><i class="fa fa-caret-down carete" aria-hidden="true"></i></button>
                        <div id="myDropdown" class="dropdown-content">
                           <a id="dashSch">Imprimir agenda</a>
                           <a id="dashVar">Dashboard</a>
                           <hr>
                           <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, class: "sub" %>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="ajaxLoad" hidden><%= image_tag("321.gif") %></div>
<div class="loadModal" hidden></div>
<div class="schPrnt" hidden style="width:925px; height:140px; position:fixed; z-index:50; background-color:#fff; margin-left:29%; margin-top:10%;">
    <h4 style="text-align:center;">Impresión de agenda</h4>
    <div class="schOpt">
        <form class="form-inline">
            <hr>
            <div class="checkbox formSche">
                <label><input type="checkbox" class="ckSch" id="chkAll" data-sch='1'> Todos los asesores</label>
            </div>
            <div class="checkbox formSche">
                <label><input type="checkbox" class="ckSch" id="chkOne" data-sch='2'> Asesor individual</label>
            </div>
            <div class="form-group">
                <select class="form-control" id="schLwrs" disabled><option>Seleccione..</option></select>
            </div>
            <div class="form-group">
                <label>Fecha: </label>
                <input type="date" class="form-control" id="dwSch">
            </div>
            <button type="submit" id="btnSch" class="btn btn-sm btn-info">Descargar</button>
        </form>
    </div>
</div>
<%= render "partials/generalScripts" %>